html{
  font-size: 10px;
}


body{
  background: white;
  color: black;
  margin: 0;
  border: red 1px solid;
  
}


header{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  width: 100vw;
  border: red 1px solid
}


img{
  width: 15rem;
}